*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/
bin
org.opentosca.yamlconverter.main/output

# Package Files #
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.lock

# Visual Paradigm UML Model

*.vpp
*.vpp~*
project.xml
.vpprefdata
!VisualParadigmXMLSplitterRejoiner.jar
tmp
org.opentosca.yamlconverter.main/.idea/
org.opentosca.yamlconverter.yamlmodel/.idea/
*.iml
org.opentosca.yamlconverter.main/target/
org.opentosca.yamlconverter.yamlmodel/target/
